@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

:root {
  --blue: #1e97e2;
  --grey: #657786;
  --dark: #253341;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #15202b;
  font-family: "Prompt", sans-serif;
  color: #fff;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

li {
  list-style: none;
}

.container {
  margin: auto;
  width: 85vw;
  max-width: 600px;
}

.display {
  display: grid;
  margin-bottom: 5em;
  grid-template:
    "search"
    "information"
    "center"
    "cal"
    "foot";
}

#send {
  background-color: rgba(37, 51, 65, 0.5);
  font-size: 0.9rem;
  color: #657786;
  border: 2px solid #657786;
  width: max-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
  margin: 1em auto;
}

#send:hover {
  color: #fff;
  font-size: 1rem;
  border: 2px solid #1e97e2;
}

#send i {
  color: #657786;
  transition: all 0.2s ease-in;
}

#send:hover i {
  color: #1e97e2;
}

#searchbox {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  background: #253341;
  grid-area: search;
  border: 1px solid #253341;
  border-radius: 1em;
  font-family: "Prompt", sans-serif;
  margin: 1em auto;
}

#searchbox > input {
  color: #fff;
  background: #253341;
  font-size: 1.5em;
  outline: none;
  border: none;
  width: 100%;
}

#submit {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.2em 1em;
  border-radius: 1em;
  border: 1px solid #1e97e2;
  background: #1e97e2;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}

.focus {
  border: 1px solid #1e97e2 !important;
}

#searchbox::placeholder {
  color: #70808c;
}

#dropdown li {
  text-align: left;
  background-color: rgba(101, 119, 134, 0.2);
  margin-bottom: 0.3em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

#dropdown li a {
  display: inline-block;
  width: 100%;
}

.username {
  color: #1e97e2;
  font-size: 0.8em;
}

.information {
  grid-area: information;
  display: flex;
  margin: 2em 0;
}

.name {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name > p {
  color: #657786;
}

#profileImage {
  /* background-color: turquoise; */
  display: flex;
  justify-content: center;

  width: 5em;
  height: 5em;
  border-radius: 2.5em;
}

#profileImage > p {
  text-align: center;
  font-size: 2.5em;
  line-height: 2em;
}

.profilePicture {
  width: 100%;
  border-radius: 50%;
}

.logout {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.logout a {
  background: #1e97e2;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-size: 0.6em;
}

#authenticator {
  grid-area: center;
}

.input {
  color: #fff;
  background: #253341;
  font-size: 1.5em;
  outline: none;
  border: none;
  width: 50%;
  padding: 0.5em 1em;
  border-radius: 1em;
  text-align: center;
}

.error {
  color: #ff4b4b;
}

#authenticated {
  grid-area: center;
}

.works {
  grid-area: center;
  border: 1px solid #657786;
}

.works > table {
  width: 100%;
  border-collapse: collapse;
}

.works > table td {
  padding: 0.5em 1em;
  border: solid 1px rgba(101, 119, 134, 0.5);
}

.works > table tr:nth-child(even) {
  background-color: solid 1px rgba(101, 119, 134, 0.5);
}

.works > table tr:hover {
  background-color: rgba(30, 151, 226, 0.2);
}

.score {
  text-align: center;
  width: 20%;
}

.note {
  position: absolute;
  padding-left: 1em;
  font-size: 0.7em;
  color: #657786;
}

.calculated {
  grid-area: cal;
  margin: 2em 0;
  font-size: 1.5em;
  text-align: center;
}

.calculated > .missing {
  font-size: 1rem;
  color: #657786;
}

#percircle {
  width: 2em;
  height: 2em;
}

#percircle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

#percircle > .number {
  position: absolute;
  font-size: 1em;
}

.number span {
  font-size: 1.3rem;
  color: #657786;
}

#percircle > svg {
  width: 10rem;
  height: 10rem;
}

circle {
  fill: none;
  stroke-width: 0.6rem;
  stroke: #fff;
  stroke-dasharray: 452;
  stroke-dashoffset: 452;
  stroke-linecap: round;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #657786;
}

#progress {
  animation-name: rotate;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 452;
  }
}

footer {
  background-color: #15202b;
  grid-area: footer;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.7em;
  color: #657786;
  padding: 0.5em 1em;
  text-align: center;
}

footer > .red {
  color: #ff4b4b;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
