<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <center>
          <div id="searchbox">
            <img src="./img/icon-search.svg" alt="search-icon" />
            <input type="text" placeholder="Search Student ID" v-model="id" />
          </div>
          <ul id="dropdown" v-if="student.length == 0 && id != ''">
            <li v-for="std in currentStudent">
              <a href="#" @click="student = std">
                {{ std.name }} {{ std.surname }}
                <span class="username">@{{ std.id }}</span>
              </a>
            </li>
          </ul>
        </center>
        <center v-if="student.length == 0">
          <div class="error">Search your ID . . .</div>
        </center>
        <div class="display" v-else>
          <div class="information">
            <div id="profileImage" :style="{background: profileColor }">
              <p>{{student.name.charAt(0)}}{{student.surname.charAt(0)}}</p>
            </div>
            <div class="name">
              <h3>{{ student.name }} {{ student.surname }}</h3>
              <p>@{{ student.id }}</p>
            </div>
          </div>
          <div class="middle">
            <table>
              <tr>
                <td class="work">PowerApp: Portfolio</td>
                <td class="score">{{student.portfolio}}</td>
              </tr>
              <tr>
                <td class="work">PowerApp: BMI Calculator</td>
                <td class="score">{{student.bmi}}</td>
              </tr>
              <tr>
                <td class="work">Exercise: Computer Design</td>
                <td class="score">{{student.comp_design}}</td>
              </tr>
              <tr>
                <td class="work">Exercise: CC License</td>
                <td class="score">{{student.cc_license}}</td>
              </tr>
              <tr>
                <td class="work">Exercise: Excel</td>
                <td class="score">{{student.excel}}</td>
              </tr>
              <tr>
                <td class="work">Exercise: Examinature</td>
                <td class="score">{{student.tree}}</td>
              </tr>
              <tr>
                <td class="work">Final Exam</td>
                <td class="score">{{final_score}}</td>
              </tr>
            </table>
            <p class="note">updated on: 1s ago</p>
          </div>
          <div class="calculated">
            <p>Total: {{total_score}}%</p>
            <p>Expected Grade: {{grading}}</p>

            <br />
            <div class="missing">
              <p>You are missing following work(s):</p>
              <ul>
                <li v-for="work in missingWorks">{{works[work]}}</li>
              </ul>
            </div>
          </div>
        </div>

        <footer>
          Made with <i class="fa fa-heart pulse red"></i> in Bangkok <br />
          <a href="mailto:bunnasorn.k@m.materdei.ac.th">Bunnasorn Kaewsiri</a>
          All Rights Reserved <br />

          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
            >Creative Commons Attribution 4.0 International License</a
          >.
        </footer>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
      integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
      crossorigin="anonymous"
    ></script>
    <script src="./js/main.js"></script>
  </body>
</html>
